---
import Layout from '../../layouts/Layout.astro';

---



<Layout >
	<main>
		<h1>Since 1959</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque magni nihil facilis maiores necessitatibus impedit excepturi fuga quod perspiciatis incidunt sapiente earum eius assumenda iure, aut, hic voluptatem culpa ex tempora ipsa. Laboriosam quae porro at ex consectetur, possimus magni quas laudantium ut, exercitationem accusamus natus, eius velit cupiditate temporibus saepe? Enim iste autem ratione provident, aperiam ad quam itaque earum modi aut reiciendis rerum, labore pariatur vel! Aliquam, nam corrupti dolorum vero et sit, aspernatur praesentium quae temporibus, expedita id natus quas. Magnam voluptate corrupti excepturi iusto temporibus laudantium, quasi minus possimus aliquid. Nulla culpa incidunt molestiae architecto esse? Enim nobis optio, blanditiis ex excepturi, magnam vero laboriosam animi sed veritatis consequatur placeat ad iste? Error excepturi esse, laborum tenetur aspernatur corrupti quisquam illo, iste reprehenderit tempora delectus dolorum inventore maxime totam repudiandae nam, autem fugiat numquam amet consectetur quo perferendis non? Nihil facilis explicabo nam, magnam sed labore. Ea mollitia inventore iste voluptatum tempora dolore animi doloremque consequuntur nemo ducimus? Perspiciatis harum temporibus ex rerum accusantium nesciunt veritatis praesentium accusamus iure fugit sapiente iusto numquam enim consequatur nemo possimus repudiandae, quisquam eveniet amet dolorem reiciendis. Quo voluptatum reiciendis aspernatur provident aliquam. Praesentium quae voluptatibus iure modi aliquid expedita aliquam, saepe, quaerat laborum nam illum pariatur eos esse recusandae vitae sunt molestias! Expedita, accusamus officiis quasi ut voluptas quod, itaque aliquam, fugiat perferendis necessitatibus quia enim cupiditate veritatis quaerat repellat nemo numquam dolore vitae voluptates tempora temporibus facere corrupti adipisci vel? Accusantium numquam fugiat ab, cumque blanditiis voluptatem repellendus. Impedit eos sapiente pariatur illo exercitationem sunt eligendi aperiam, ipsum, laborum praesentium esse iste beatae itaque atque libero iusto vero et necessitatibus corrupti dolorem velit blanditiis! Tempore magni provident incidunt qui tempora, commodi sed cumque aut veritatis repudiandae sunt repellat est unde perferendis maxime similique sequi quisquam adipisci minus aspernatur!</p>
	</main>
</Layout>

<style>
	h1{
		text-align: center;
		color:red
	}
	p{
		font-size: 1.2rem;
		text-align: justify;
		padding: 20px;
		text-indent: 50px;
		margin-bottom: 90px;

	}
</style>