---
import Layout from '../layouts/Layout.astro';

---

<Layout >
	<main>
		<h1>Welcome to Our Store</h1>
		<div class="home-container">
			<img src="https://images.squarespace-cdn.com/content/v1/60295560b37e260b40e12e2d/56147ade-4fca-4b36-bac9-0f12fa4342f7/Flora_s-81.jpg" alt="">

			<div class="desc">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo cum quam magnam modi dicta esse ducimus delectus vel est molestiae sed omnis a voluptatibus, nisi suscipit eligendi voluptas tenetur amet ea minima, placeat illo consequatur! Ratione dolor cupiditate consequatur minima deleniti, molestiae quo voluptates doloremque voluptatem animi quae, numquam architecto quasi dolore doloribus est quos ex quas officia quam autem ipsam. Laboriosam ducimus accusantium soluta fugit et nostrum suscipit asperiores ullam iure natus. Consequatur expedita iste odit facilis quasi. Tempore, non aspernatur assumenda eius necessitatibus a incidunt cumque. Labore, deleniti!</p>
			</div>
		</div>
		
	</main>
</Layout>

<style>
	h1{
		color:red;
		text-align: center ;
		margin-top: 30px;
	}

	.home-container{
		display: flex;
		justify-content: center;
		align-items: center;
		gap:20px;
		padding: 0 10px;
		margin-top: 80px;

	}

	.desc{
		padding: 0 30px;
	}

	.desc p {
		font-family: cursive;
		text-align: justify;
	}

	.home-container img{
		
		width: 50%;
		height: 400px;
		

	}

	@media only screen and (max-width:720px){
		.home-container{
    flex-direction:column;
    
}
.home-container img{
    width: 70%;
}


</style>
