---
let date = new Date().getFullYear()
---

<footer>
    <p>&copy; {date} Ironstone Company</p>
</footer>

<style>
    footer{
        background-color: lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
        position: fixed;
        bottom: -10px;
       
    }

    footer p {
    color:rgb(5, 111, 216);
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bold;
    }
</style>