---
import { Image } from 'astro:assets';

const menu = [
{ url: "/products", text: "Products" },
{ url: "/categories", text: "Categories" },
  { url: "/contact", text: "Contacts" },
  { url: "/about", text: "About" },
  
];
---

<header >
  <nav >
    
      <a class="logo" href="/"> 
        <Image
        src="https://cdn3d.iconscout.com/3d/premium/thumb/product-5806313-4863042.png"
        alt="Product image"
        width="120"
        height="90" />
      
       </a>
    
    <ul class="menu-list"> 
         
            <li class="link">
                <a  href="/products">Products</a>
            </li>
            <li class="link dropdown-link">
                <a  href="#">Categories</a>
                <div class="dropdown">
                    <a href="/woman">Woman</a>
                    <a href="/man">Man</a>
                    <a href="/electronic">Electronic</a>
                    <a href="/jewelery">Jewelery</a>
                </div>
            </li>
            <li class="link">
                <a  href="/contact">Contact</a>
            </li>
            <li class="link">
                <a  href="/about">About</a>
            </li>
       
      </ul>
  </nav>
  

  
</header>

<style>
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(248, 244, 244);
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    transition: .2s;
}

.logo:hover{
    transform: scale(1.1);
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    list-style-type: none;
}

li a {
    color:rgb(5, 111, 216);
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bold;
    
}

li a:hover{
   
    color: red;
}
.dropdown-link{
    position: relative;
}

.dropdown-link:hover .dropdown{
    display: block;
    padding: 5px;
}
.dropdown{
    position: absolute;
    left:20px;
    top:30px;
    display: none;
    
    
}

.dropdown a:hover{
    color:green
}

.dropdown a {
    
    
    display: block;
   color: crimson;
   font-size: 16px;
   border-bottom: 1px solid grey;
   
   

}

@media only screen and (max-width:500px){
nav{
    flex-direction:column;
    
}

.menu-list{
    display: flex;
    flex-direction: column;
}
.dropdown{
    background-color: aliceblue;
    position: absolute;
    left:110px;
    top:5px;
    /* display: none; */
    
}
}
</style>