---
import Layout from '../../layouts/Layout.astro';
import Products from "../../components/Products.astro"

---

<Layout title="First">


<div class="text-center p-10 mt-10" >
    <h1 class="font-bold text-4xl mb-4">All Products</h1>
   
</div>


<section id="Projects"
    class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-10">
    <Products/>
    

</section>








</Layout>

